.button {
    -fx-font: 20px "Monaco";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0078D7;
    -fx-focus-color: red;
}
.button:focused {
    -fx-background-color:  white;
    -fx-text-fill: black;
}
